body {
  background-color: #2D545E;
  color: #FFFFFF;
  font-size: 16 px;
  font-family: Helvetica;
  line-height: 2em;
}

h1 {
  font-size: 32 px;
  font-weight: bold;
}

h3 {
  font-size: 16 px;
  font-weight: italic;
}

author {
  font-size: 14 px;
  font-weight: lighter;
  text-indent: 5 em;
}

nav {
  background-color: rgba(225,179,130,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
  background: #fff url(images/bloc-logo.png) no-repeat, top left;  
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  background: #fff url(images/instagram-pic.jpg) no-repeat, top center;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
  a:hover {color: #FFFFFF;} /* mouse over*/
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
