body {
  background-color: #2D545E;
  color: #FFFFFF;
  font-size: 16px;
  font-family: Helvetica;
  line-height: 2em;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 16px;
  font-weight: italic;
}

author {
  font-size: 14px;
  font-weight: lighter;
  text-indent: 5em;
}

nav {
  background-color: rgba(225,179,130,.5);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

a {
  font-size: 24px;
  font-weight: bold;
  color: #FFFFFF;
  text-decoration: none;
}

a:link { color:#FFFFFF; } /* unvisited */
a:link { color:#963C8A; } /* visited */
a:hover { color:2D545E; } /* mouse over */

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
